<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Поиск вакансий</title>
    <link rel="stylesheet" href="static/style/job.css">
</head>
<body>
    <div>
        <form method="post">
            <input type="text" class="input" name="job" placeholder="Название должности">
            <input name="1" class="one" type="submit">
        </form>
    </div>
    <a href="/" class="button">Вернуться на главную</a>
    <div>
        {% if request.method == 'POST' %}
            {% if one == 'Отправить'%}
                 <form method="post">
                    <input type="text" class="region" name="region" placeholder="Регион">
                    <input type="text" class="skills" name="skills" placeholder="Навыки">
                    <input type="text" class="work_exp" name="work exp" placeholder="Опыт работы">
                    <select class="bus" name="busyness">
                        <option>Полная занятость</option>
                        <option>Частичная занятость</option>
                        <option>Проектная работа</option>
                        <option>Волонтерство</option>
                        <option>Стажировка</option>
                    </select>
                    <select class="chart" name="chart">
                        <option>полный день</option>
                        <option>сменный график</option>
                        <option>гибкий график</option>
                        <option>удаленная работа</option>
                        <option>вахтовый метод</option>
                    </select>
                    <input name='2' class="two" type="submit">
                </form>

                {% for i in range(0, len_jobs,6)%}
                    <div class="div">
                        <p>Вакансия: {{ data[i][1] }}</p>
                        <p>Зарпалата: {{ data[i+1][1] }}</p>
                        <p>Опыт работы: {{ data[i+2][1] }}</p>
                        <p>График: {{ data[i+3][1] }}</p>
                        <p>Скилы: {{ data[i+4][1] }}</p>
                        <p>Регион: {{ data[i+5][1] }}</p>
                    </div>
                {% endfor %}
            {% endif%}
            {% if two == 'Отправить' %}
                {% for i in range(id) %}
                    <div class="div">
                        <p>Вакансия: {{ name_list[i] }}</p>
                        <p>Зарпалата: {{ salary_list[i] }}</p>
                        <p>Опыт работы: {{ experience_list[i] }}</p>
                        <p>График: {{ chart_list[i] }}</p>
                        <p>Скилы: {{ skills_list[i] }}</p>
                        <p>Регион: {{ region_list[i] }}</p>
                    </div>
                {% endfor %}
            {% endif %}
        {% endif %}
    </div>
</body>
</html>