<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Поиск соискателей</title>
</head>
<body>
    <div>
        <input type="text" placeholder="Фамилия">
        <input type="text" placeholder="Имя">
        <input type="text" placeholder="Отчество">
        <input type="text" placeholder="Название должности">
        <input type="text" placeholder="Регион">
        <select>
            <option>Полная занятость</option>
            <option>Частичная занятость</option>
            <option>Проектная работа</option>
            <option>Волонтерство</option>
            <option>Стажировка</option>
        </select>
        <select>
            <option>Полный день</option>
            <option>Сменный график</option>
            <option>Гибкий график</option>
            <option>Удаленная работа</option>
            <option>Вахтовый метод</option>
        </select>
    </div>
    <a href="/">Вернуться на главную</a>
</body>
</html>